.info-block{
    overflow-y: scroll;
    position: absolute;
    display: flex;
    z-index: -22;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #695311d3;
    /*display: block;*/
  }
  .text-area{
    font-family: 'Conv_Pirate';
    text-align: justify;
    width: 90%;
    font-weight: bold;
    color: black;
    font-size: 30pt;
    display: block;
    margin-left: 6%;
    margin-top: 9%;
    margin-bottom: 8%;
    float: left;
    display: block;
  }
  .text-area img{
      float: right;
      width: 500px;
      height: auto;

      border: none;
      padding: 0;
      display: block;
  }
  .martial-block{
    background-color: #695311d3;
    position: absolute; 
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  hr{
      height: 10px;
      background-color: black;
  }